{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  borkdude/sci        {:git/url "https://github.com/borkdude/sci"
                       :sha "c58b1a64f6236a9e07a4f0dcf353693fc51214f9"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.9.10"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}}}
